* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Gall 1 */
#gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.card1 , .card2 , .card3 , .card4  {
    flex: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}
.card1 a, .card2 a , .card3 a , .card4 a {
    text-decoration: none;
    color: black;
    display: block;
    border: 3px solid black;
    padding: 12px;
    margin-top: 36px;
}
/* Card 1 */
#card-1 a {
    transition: 
    background-color 0.5s,
    box-shadow 0.5s,
    transform 0.5s;
}
#card-1:hover a {
    background-color: #690bf7;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
    color: white;
}
/* Card 2 */
#card-2 {
    background-color: rgb(255, 255, 255);
}
#card-2:hover {
    background-color: rgb(117, 130, 182);
    font-weight: bold;
}
.card-content2 a {
    color: rgb(114, 173, 255);
}
.card-content2 a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(20, 34, 164);
}

/* Card 3 */
.card3 a {
    color: rgb(0, 0, 0);
}
.card3 a:hover{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    color: orange;
    font-weight: bold;
}

/* Card 4 */
.card4 {
    background-color: black;
}
.card4:hover {
    color: white;
}
#card-4 .card-content4 a {
    background-color: black;
}
#card-4 .card-content4 a:hover {
    color: white;
    transition: 
    opacity 0.5s, 
    visibility 0.5s;
}
/* Gall 2 */
#gallery2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.card5 , .card6 , .card7 , .card8  {
    flex: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}
.card5 a, .card6 a , .card7 a , .card8 a {
    text-decoration: none;
    color: black;
    display: block;
    border: 3px solid black;
    padding: 12px;
    margin-top: 36px;
}
/* Card 5 */
#card-5 .card-content5 {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition:
    opacity 0.5s,
    visibility 0.5s,
    transform 0.5s;
}


#card-5:hover .card-content5 {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

/* Card 6 */
.card-content6  {
    height: 1px;
    object-fit: cover;
}

.card-content6 {
    opacity: 0;
    transition: 0.6s;
    height: 1px;
    object-fit: cover;
}
.card-content6:hover {
    opacity: 1;
}
.card-content6 > *{
    transform: translateY(25px);
    transition: transform 0.6s;
}
.card-content6:hover > *{
    transform: translateY(0px);
    color: #004cff;
}
/* Card 7 */
#card-7 .card-content7 {
    transition:
    opacity 0.5s,
    visibility 0.5s;
}
#card-7:hover .card-content7 {
    opacity: 0;
    visibility: hidden;
}
/* Card 8 */
#card-8 {
    transition: background-color 0.5s, 
    box-shadow 0.5s,
    transform 0.5s;
    color: white;
}
#card-8:hover {
    background-color: rgb(0, 115, 255);
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}
/* Gall 3 */
#gallery3 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.card12  {
    flex: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}
.card12 a {
    text-decoration: none;
    color: black;
    display: block;
    border: 3px solid black;
    padding: 12px;
    margin-top: 36px;
}
/* Card 9 */
#card-9 img {
    height: 278px;
    width: 225px;
}
.card9 {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    margin-left: 100px;
}
.card9 img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s;
}
.card-content9 {
    height: 0;
    width: 100%;
    background: linear-gradient(transparent,#1c1c1c 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.4s;
}
.card9:hover .card-content9 {
    height: 100%;
    color: white;
    font-size: 34px;
}
/* Card 10 */
.card10 {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    margin-left: 100px;
}
#card-10 img {
    height: 278px;
}
.card10 img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s;
}
.card10:hover .card-content10 {
    height: 225%;
    color: rgb(255, 255, 255);
    font-size: 34px;
}
.card10 p {
    margin-top: 108%;
}
.card-content10  {
    height: 0;
    width: 100%;
    background: linear-gradient(transparent,#1c1c1c 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.4s;
}
/* Card 11 */
.card11 {
    border-radius: 10px;
    overflow: hidden;
    margin-left: 13px;
}
.card11 a {
  color: red;
}
.card-container11 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card11 {
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}
.card11 a {
    transition: 
    background-color 0.5s,
    box-shadow 0.5s,
    transform 0.5s;
}
#card-11:hover a {
    background-color: #7143b8;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
    color: white;
}
#card-11 img {
    width: auto;
    height: auto;
}
.card-content11 h3 {
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content11 p {
    color: #000000;
    font-size: 15px;
    line-height: 1.3;
}
.card11 p {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
}
/* Card 12 */
#gallery4 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
#card-12 img {
    height: 278px;
    width: 225px;
}
.card12 {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    margin-left: 100px;
}
.card12 img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s;
}
.card-content12 {
    height: 0;
    width: 100%;
    background: linear-gradient(transparent,#1c1c1c 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.4s;
}
.card12:hover .card-content12 {
    height: 100%;
    color: white;
    font-size: 34px;
}








