* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#section-1 {
    padding: 24px;
    min-height: 100vh;
}

#section-1 {
    background: url("../images/treasure-map.webp");
    background-size: cover;
    background-position: center center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#section-1 .example-card {
    max-width: 350px;
    margin: 16px;
    box-shadow: 4px 4px 8px #00000088;
}

/*Answers he shown on MONDAY 2/10/2025

.card-style-1 {
background-color: #eeffee;
box-shadow: 2px 2px 10px #555;
margin: 16px;
width: 350px;
}
.card-style-1 h2, .card-style-1 p {
   padding: 0px 24px;
}
.card-style-1 img {
width: 100%;
}
 
.card-style-1 a {
  background-color: green;
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 24px 0px;
  font-size: 20px;
  transition: opacity 0.25s;
}
.card-style-1 a:hover {
opacity: 0.8;


*/
