
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: "acier-bat-solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #ffffff;
}
p {
    font-family: "Palatino Linotype", serif;
    font-style: normal;
}
h1 h2 h3 {
    font-family: "acier-bat-solid", sans-serif;
}
/* Home */
#navbar {
    background-color: #42a98b;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
}
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}
#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}
/* dropdown style */
.dropdown-container {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 200px;
    background-color: #85C33F;
    transform: translateY(-16px);
    transition: 
    opacity 0.5s,
    visibility  0.5s,
    transform 1s
    ;
}
.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
#navbar .dropdown-menu a:hover {
    color: #EEE82E;
    background-color: transparent;
}
.dropdown-container i {
    transition: transform 0.75s;
}
.dropdown-container:hover i {
    transform: rotate(180deg);
}
/* logo */
.image-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 30%;
}
.image-container, .soglan {
    background-color: #D0ECFB;
    padding-top: 3px;
    padding-bottom: 10px;
}
.soglan {
    text-align: center;
    align-items: center;
    font-size: 16px;
    color: #42a98b;
}
h4 {
    font-weight: lighter;
    font-style: italic;
    font-size:  109%;
}

/* About  + img*/
.about {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}
.about-img {
    display: flex;
    align-items: center;
    margin: 48px 0px;
}
img {
    width: 25%;
    height: 23%;
}
.about-text {
    flex: 1;
    padding: 36px;
}
.about-text a {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: #68BC45;
    color: white;
    padding: 24px 48px;
    border-radius: 48px;
}
/* Footer */
#footer {
    background-color: #42a98b;
    color: white;
    padding: 12px;
}
#footer img {
    width: 7%;
}
#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
}
#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
#footer a {
    text-decoration: none;
    color: #EEE82E;
    font-family: "Palatino Linotype", serif;
    font-weight: bold;
}
h5 {
    text-align: center;
    font-size: 25px;
}
/* Menu */

.heading {
    background-color: #86615C;
    color: white;
    margin-bottom: 30px;
    padding: 30px 0;
    grid-column: 1/-1;
    text-align: center;
}
.heading>h2 {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 9px;
    margin-bottom: 10px;
}
.heading>span {
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 21px;
}
/* container 1 */
.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card1 {
    width: 329px;
    border-radius: 3px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}
.card1 img {
    width: 100%;
    height: auto;
}
.card-details {
    padding: 16px;
}
.card-details h3 {
    font-size: 28px;
    margin-bottom:5px;
}
.card-details p {
    font-size: 14px;
    line-height: 1.2;
}

#card a {
    background-color: #4B6671;
    transition: 
    box-shadow 0.5s,
    transform 0.5s;
}


a {
    font-family: "Palatino Linotype", serif; 
}

.card-content a {
    display: inline-block;
    padding: 6px 14px;
    background-color: #68BC45;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 16px;
    color: #fff;
}
#card a {
    transition: 
    background-color 0.5s,
    box-shadow 0.5s,
    transform 0.5s;
}
#card:hover a {
    background-color: #85C33F;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}
/* Container 2 */
.cards-container2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card2 {
    width: 329px;
    border-radius: 3px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}
.card2 img {
    width: 100%;
    height: auto;
}
.card-details2 {
    padding: 16px;
}
.card-details2 h3 {
    font-size: 28px;
    margin-bottom:5px;
}
.card-details2 p {
    font-size: 14px;
    line-height: 1.2;
}

.card-content2 a {
    background-color: #4B6671;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    margin-top: 16px;
    display: inline-block;
    padding: 6px 14px;
}
#card2 a {
    transition: 
    background-color 0.5s,
    box-shadow 0.5s,
    transform 0.5s;
}
#card2:hover a {
    background-color: #85C33F;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}
a {
    font-family: "Palatino Linotype", serif;
    align-items: baseline;
}
#money p {
    font-weight: bolder;
}
.money p {
    font-size: 101%;
}
/* Container 3 */

.card3 {
    width: 329px;
    border-radius: 3px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}
.card3 img {
    width: 100%;
    height: auto;
}
.card-details3 {
    padding: 16px;
}
.card-details3 h3 {
    font-size: 28px;
    margin-bottom:5px;
}
.card-details3 p {
    font-size: 14px;
    line-height: 1.2;
}

#money1 p {
    font-weight: bolder;
}
.money1 p {
    font-size: 101%;
}
.card-content1 a {
    background-color: #4B6671;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    margin-top: 16px;
    display: inline-block;
    padding: 6px 14px;
}
.Featured {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card3 img {
    width: 100%;
    height: auto;
}
.card-details3 {
    padding: 16px;
}
.card-details3 h3 {
    font-size: 28px;
    margin-bottom:5px;
}
.card-details3 p {
    font-size: 14px;
    line-height: 1.2;
}

#card3 a {
    background-color: #4B6671;
    transition: 
    box-shadow 0.5s,
    transform 0.5s;
}
.card-content3 a {
    display: inline-block;
    padding: 6px 14px;
    background-color: #68BC45;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 16px;
    color: #fff;
}
#card3 a {
    transition: 
    background-color 0.5s,
    box-shadow 0.5s,
    transform 0.5s;
}
#card3:hover a {
    background-color: #85C33F;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}
/* Media */
@media screen and (max-width: 480px) and (min-width: 801px) {
    body {
        font-size: 14px;
    }
    #navbar a {
        font-size: 12px;
    }
}
.about-text h2 {
    font-size: 20px;
}
.btn {
    padding: 8px 12px;
    font-size: 14px;
}

@media screen and (max-width: 480px) {
    #navbar {
        flex-direction: column;
    }
    .dropdown-container {
        flex-direction: column;
        gap: 25px;
    }
    .dropdown-container h1 {
        margin: 0px;
        font-size: 24px;
    }
    .content {
        text-align: center;
    }
    .image-container {
        flex: 200px;
        width: 100%;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "txt1"
        "img1"
        "img2"
        "img3"
        "img4"
        "txt2"
        ;
    }
}
