* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #fefae0;
}
/* homescreen */
#navbar {
    background-color: #f4a261;
    display: flex;
    align-items: center;
}
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 28px;
}
#navbar a:hover {
    background: linear-gradient(to top, #be775e, #f4a261);
}
#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 32px;
    padding-top: 13px;
    padding-bottom: 12px;
}
/* dropdown style */
.dropdown-container {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 200px;
    background-color: #be775e;
    transform: translateY(-16px);
    transition: 
        opacity 0.5s,
        visibility  0.5s,
        transform 1s
        ;
}
.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
#navbar .dropdown-menu a:hover {
    color: #ffbe0b;
    background-color: transparent;
}
.dropdown-container i {
    transition: transform 0.75s;
}
.dropdown-container:hover i {
    transform: rotate(180deg);
}
/* Cards doggy */
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card-container img {
    margin-right: 200px;
}
.card {
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}
.card a {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}
.card:hover a {
    background-color: #690bf7;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
    color: white;
}
.card img {
    width: 100%;
    height: auto;
}
.card-content {
    padding: 16px;
}
.card-content h3 {
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content p {
    color: #000000;
    font-size: 15px;
    line-height: 1.3;
}
.card .btn {
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Susan */
img, .cont {
    width: 100%;
    object-fit: cover;
    height: 200px;
    margin-top: 40px;
    margin-left: 20px;
}
.cont h1 {
    color: #8f3819;
    font-size: 48px;
}

.container-person {
    display: flex;
    align-items: center;
    gap: 10px;
}
p {
    font-size: 18px;
}
.profile-container img {
    height: 200%;
    border-radius: 24px;
}
.profile-container {
    height: 208px;
}
.profile-container img,
.cont {
    flex: 1;
}

/* Meida */
@media screen and (max-width:  480px) and (min-width: 325px) {
    body {
        background-color: red;
    }
    p {
        font-size: 18px;
        padding: 13px;
    }
    #navbar {
        flex-direction: column;
    }
    .dropdown-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .container-person {
        flex-direction: column;
        gap: 200px;
        padding: 34px;
        margin-right: 10px;
    }
    img {
        flex-direction: column;  
    }
}
@media screen and (max-width: 480px) {
    .dropdown-container {
        flex-direction: column;
    }
}
