body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    margin: 34px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card-style-2 {
    background-color: white;
    border-radius: 15px;
    width: 300px;
    padding: 20px;
    text-align: center;
    display: center;
}


.animagram-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.logo {
    font-size: 19px;
    font-weight: bold;
    margin-right: 40px;
}

.brand-name {
    font-size: 25px;
    color: black;
}

.profile-pic-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 10px;
}

.profile-pic-container img {
    width: 100%;
    height: auto;
    display: block;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0px auto;
}

p {
    font-size: 19px;
    color: #000000;
    margin-bottom: 20px;
}

.animagram-footer {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: #000000;
}

.animagram-footer span {
    display: flex;
    align-items: center;
}

.animagram-footer i {
    margin: 9px 10px;
}
