/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/


.card-style-2 {
    background: #ffffff;
    border-radius: 12%;
    height: -29px;
    width: -29%;
}
.card-style-2 .animagram-header .logo {
    font-size: 36px;
    font-family: 'Shadows Into Light';
    font-weight: bold;
    display: inline-block;
    border: 3px solid black;
    border-radius: 50%;
    width: 66px;
    text-align: center;
}
.card-style-2 img {
    display: flex;
    align-items: center;
    border-radius: 50%;
}
.animagram-footer {
    text-align: center;
    right: 50%;
}

/*Inside Items section here! */

.card-style-2 .animagram-header .brand-name {
    font-family: 'Acme';
    font-weight: bold;
}
p {
    text-decoration: none;
    text-align: center;
}
span {
    display: flex;
    font-size: 28px;
    justify-content: center;
    gap: 11px;
    align-items: center;
    margin: auto;
}